<footer>
    <div class="footer-container">
        <div class="left-foot">
            <h2>be the first to know</h2>
            <p>Never miss a chance to go on a new adventure - <br>susbcribe to our newletters for updates and more.</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control">
                <span class="input-group-text btn-dark" id="basic-addon2">Get updates</span>
              </div>
        </div>
        <div class="right-foot">
            <a href="">> EN</a>
            <br>
            <ul>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Contact us</a>
                </li>
                <li>
                    <a href="">Terms and Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>


<script>

    var latitude = document.getElementById("latitude"); 
    var longitude = document.getElementById("longitude"); 

    var validLatitude = 46.813878;
    var validLongitude = -71.207981;

    if(latitude && latitude.value != null)
        validLatitude = document.getElementById("latitude").value;

    if(longitude && longitude.value != null)
        validLongitude = document.getElementById("longitude").value;

    $('#us2').locationpicker({
        location: {
            latitude: validLatitude,
            longitude: validLongitude
        },
        radius: 300,
        inputBinding: {
            latitudeInput: $('#us2-lat'),
            longitudeInput: $('#us2-lon')
        },
        enableAutocomplete: true,
        autocompleteOptions: {
            types: ['(cities)'],
            componentRestrictions: {country: 'ca'}
        },
        onchanged: function (currentLocation, radius, isMarkerDropped) {
            var mapContext = $(this).locationpicker('map');
            $('#coordinates').val(`${mapContext.location.latitude},${mapContext.location.longitude}`)
        }
    });

</script>
</body>
</html>