<footer>
    <div class="footer-container">
        <div class="left-foot">
            <h2>be the first to know</h2>
            <p>Never miss a chance to go on a new adventure - <br>susbcribe to our newletters for updates and more.</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control">
                <span class="input-group-text btn-dark" id="basic-addon2">Get updates</span>
              </div>
        </div>
        <div class="right-foot">
            <a href="">> EN</a>
            <br>
            <ul>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Contact us</a>
                </li>
                <li>
                    <a href="">Terms and Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>