<header>
    <div class="header-log">
        <div class="left-head">
            <nav>
                <ul>
                    <li class="dropdown"><a href="#" class="burger">≡</a>
<<<<<<< HEAD
                        <ul class="downmenu">                         
                            <% if(title == "Inscription") { %>
=======
                        <ul class="downmenu">
                            <% if(typeof connected !== 'undefined') { %>
                                <li><a href="/logout">Se déconnecter</a></li>
                            <% } else {%>
>>>>>>> 6d2b982b3059ff5b9963a493eb1ccfb927ac118a
                                <li><a href="/">Se connecter</a></li>
                            <% } %>
                            <% if(title == "Bienvenue") { %>
                                <li><a href="/signup">S'inscrire</a></li>
                            <% } %>
                            <% if(title == "Mon profil" || title == "Spot Form" || title == "Spots Feed" || title == "Spots Info") { %>
                                <li><a href="/logout">Se déconnecter</a></li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="center-head">
            <img src="../images/logo.png" alt="skioob-logo">
        </div>
        <div class="right-head">
<<<<<<< HEAD
            <a href="../spotfeed"> <img src="../images/forest.png" alt="mount icon"></a>
            <a href="../profile"><img src="../images/user.png" alt="user icon"></a>
=======
            <img src="../images/forest.png" alt="mount-logo">
            <a href="/profile"><img src="../images/user.png" alt="log-logo"></a>
>>>>>>> 6d2b982b3059ff5b9963a493eb1ccfb927ac118a
        </div>
    </div>
</header>

