<header>
    <div class="row gx-0 p-3 bg-white bg-opacity-25">
        <div class="col-2 align-self-center">
            <div class="dropdown-toggle px-4" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                <i class="fa-solid fa-bars fs-3"></i>
            </div>
            <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                <% if(title == "Inscription") { %>
                    <li><a class="dropdown-item" href="/">Se connecter</a></li>
                
                <% } else if(title == "Bienvenue" || title == "Interdit") { %>
                    <li><a class="dropdown-item" href="/signup">S'inscrire</a></li>
                
                <% } else { %>
                    <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
                <% } %>
            </ul>
        </div>
        <div class="col-8 text-center">
            <img src="../images/logo.png" alt="skioob-logo">
        </div>
        <div class="col-2 text-end align-self-center">
            <a href="../spotfeed/1" class="px-2"> <img src="../images/forest.png" width="40" height="40" alt="mount icon"></a>
            <a href="../profile" class="px-2"><img src="../images/user.png" width="40" height="40" alt="user icon"></a>
        </div>
    </div>
</header>