<div class="flexbox-container">
    <div class="error-message">
        <h1>Oops! There seems to be a little problem...</h1>
        <h2><%= eMessage %></h2>
        <img src="images/phone-pb.png" alt="pb">
        <h2>Go back to <a href="/">homepage</a></h2>
    </div>
</div>