<<<<<<< HEAD



    <main>

        <div class="container flexbox-container my-5">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="error-message">
                        <h1>Oops ! There seems to be a little problem...</h1>
                        <img src="images/phone-pb.png" alt="pb" style="height:50%">
                        <h2>Go back to <a href="/">homepage</a></h2>
                        <a href=""></a>
                    </div>
                </div>
            </div>
        </div>

    </main>
=======
<div class="flexbox-container">
    <div class="error-message">
        <h1>Oops! There seems to be a little problem...</h1>
        <h2><%= eMessage %></h2>
        <img src="images/phone-pb.png" alt="pb">
        <h2>Go back to <a href="/">homepage</a></h2>
    </div>
</div>
>>>>>>> 6d2b982b3059ff5b9963a493eb1ccfb927ac118a
