<main>
    <%- include('partials/messages') %>
    <div id="connexion">
        <div class="flexbox-container">
        <div class="form-container">
            <div class="form-title">
                <h1 class="verb">S'identifier</h1>
            </div>
            <form action="/login" method="post">
                <div class="mb-3">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>
                </div>
                <button type="submit" id="submit" class="btn btn-primary mb-3 w-100 h-100">Se connecter</button>
            </form>
            <div class="form-link"><p>Vous débutez sur SKIOOB ? <a href="/signup">S’inscrire</a></p></div>
        </div>
    </div>
    </div>
</main>