<main class="texture-background">
    <div class="spot-info-card">
        <div class="my-spots">
            <div class="my-spot">
                <div class="spot-name">
                    <h3><%= skiSpot.name %></h3>
                    <div class="spot-icon">
                        <form action="" method="">
                            <input type="image" src="../images/edit-icon.svg" width="15px" height="15px">
                        </form>
                        <div>
                            <form action="" method="">
                                <input type="image" src="../images/delete-icon.svg" width="15px" height="15px">
                            </form>
                        </div>
                    </div>
                </div>
                <img src="../images/image-spot.jpg" alt="Spot de ski" width="50%">
                <div class="spot-info">
                    <div class="description">
                        <p>Description</p>
                        <p><%= skiSpot.description %></p>
                    </div>
                    <div class="spot-detail">
                        <div>
                            <p>Address:<span>1234 Happy Road</span></p>
                        </div>
                        <div>
                            <p>Difficulty:<span>Medium</span></p>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</main>   