<body class="frost-background">
    <main>
        <div class="spot-body">
            <div class="spot-title">
                <h1>My Spots</h1>
                <button type="submit">Add Spot</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Address</th>
                        <th>Difficulty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>
                        <form action="" method="">
                            <button type="submit">Remove</button>
                        </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>