
    <main class="texture-background">
        <div class="spot-form-frame">
            <div class="form-title">
            <h1 class=>Share your spot</h1>
            </div>
            <form class="spot-form" action="/spotfeed" method="GET">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                <div>
                    <label for="description">Description&nbsp</label>
                    <textarea name="description" id="description" class="form-control" rows="4" cols="50"></textarea>
                </div>
                <div>
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" class="form-control">
                </div>
                <div>
                    <label for="difficulty">Difficulty</label>
                    <select name="difficulty" id="difficulty" class="form-control">
                        <option value="medium">Medium</option>
                        <option value="difficult">Difficult</option>
                        <option value="extreme">Extreme</option>
                    </select>
                </div>
                <div>
                    <button type="submit" id="submit" class="btn btn-primary mb-3 w-50 h-100 share-post-button">Share</button>
                </div>
            </form>
        </div>
    </main>    
