/*------------- BODY-------------- */
html {height: 100%;}

body {
    margin: 0px;
    padding: 0px;
}

.body-log {
    width: 100%;
    height: 100%;
}

.sign-background-image{
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

/*--------------------HEADER------------------------*/

a {
    color: black;
    font-weight: bold;
}

.header-log {
    background-image: url("../images/background-light-texture.jpg");
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 96px;
    background-color: white;
}


/*HEADER/GAUCHE*/

.left-head {
    width: 25%;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
}

.burger {
    font-size: 5vh;
    color: black;
    float: left;
    margin-bottom: 10%;
}

.downmenu {
    display: none;
    background-color: white;
    width: 150px;
    padding: 20px;
    border-radius: 15px;
    position: fixed;
}

nav:hover .downmenu {
    margin-top: 35px;
    display: block;
    padding: 15px;
    z-index: 1;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
    width: 160px;
    
}

nav li {
    padding: 10px;
    text-align: center;
    
}

i {
    margin-right: 15px;
}

.downmenu li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.downmenu a {
    font-weight: normal;
}

.downmenu li:hover {
    color: white;
}


/*HEADER/CENTRE*/

.center-head img {
    width: 100px;
}


/*HEADER/DROITE*/

.right-head {
    width: 25%;
    display: inline;
    text-align: right;
}

.right-head img {
    margin: 0 15px;
    width: 50px;
}

@media (max-width: 620px) {
    .right-head img {
        margin: 0 10px;
        width: 20px;
    }
}


/* -------------- MAIN PROFILE -------------- */

.texture-background {
    background-image: url("../images/background-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    
}

.cover-photo {
    width: 80%;
    height: 350px;
    margin: 3% 10% 0% 10%;
    background-image: url("../images/banner-picture.jpg");
    background-size: cover;
    background-position: center;
}

.profile-info {
    display: flex;
    width: 100%;
    height: 300px;
    margin: 0px 50px 0 50px;
    
}

.profile-picture {
    height: 250px;
    width: 250px;
    background-image: url("../images/profile-picture.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: -5% 3% 0 22%;
}

.profile-name {
    text-align: center;
}

.profile-name h1 {
    font-size: 7vh;
    margin: 15px 0 5px;
}

#badge {
    color: #93687D;
    font-size: 4vh;
}

#title {
    color: #93687D;
    font-size: 3vh;
}

@media (max-width: 960px) {
    .profile-picture {
        height: 150px;
        width: 150px;
        margin: -30px 0px 0px 3px;
    }
    .profile-name {
        text-align: right;
    }
    .profile-name h1 {
        font-size: 4vh;
    }
    #badge {
        font-size: 2.5vh;
    }
    #title {
        font-size: 2vh;
    }
    .profile-info {
        height: 150px;
    }
}

.underline {
    width: 70%;
    border-bottom: 2px solid black;
    margin: 0 auto;
}


/* -------------- PROFILE WALL -------------- */

.wall h2 {
    text-align: left;
}

.wall {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 620px) {
    .wall {
        display: block;
    }
}

.text-post {
    padding: 30px;
    text-align: left;
}

.user-post {
    margin: 3% 15px 20px 15px;
    width: 350px;
    background-color: #FFFAFA;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}



.date {
    color: #CCC;
    text-align: right;
}

.comment-line {
    display: flex;
    justify-content: space-evenly;
}

#comment-post {
    width: 80%;
    height: 50px;
}

#comment-pinned {
    width: 80%;
    height: 50px;
}

#wall-icons {
    margin-right: 5px;
}

.lil-post {
    width: 20%;
    margin-left: 1%;
}

.username, p, h2 {color: #002a2b;}

.profile .form-control {
    width: 150px;
}

.comment {
    display: flex;
    justify-content: space-evenly;
}

.comment button {
    height: 40px;
}


/* ------------PAGES CONNEXION & INSCRIPTION-------------- */

.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*BODY/GAUCHE/INSCRIPTION*/

.catchwords {
    text-align: left;
    text-transform: uppercase;
    font-family: "made_sunflower";
    color:#002a2b;
    font-size: 0.1vh;
}

/*BODY/FORMULAIRE*/

.container {
    margin-left: 8% !important;
}

.form-container {
    border-radius: 15px;
    background-color: rgba(208, 215, 222, 0.5);
    border-radius: 15px;
    min-width: 32%;
    padding: 5px;
    margin-right: 15%;
    margin-top: 11%;
    margin-bottom: 11%;
    margin-left: 15%;
    
}

.form-title {
    color: rgba(161, 65, 41, 1);
    font-size: 20px;
}

.form-container input {
    margin-bottom: 25px;
    background-color: rgba(235, 235, 235, 1);
    min-width: 80%;
    height: 30px;
    border-radius: 5px;
    font-family: "made_sunflower";
    border: none;
}

.form-container form {
    padding: 10px;
}

.form-container p {
    font-weight: light;
}

.form-link {
    margin-top: 30px;
    font-size: 10px;
}

.form-container input {
    width: 120px;
    margin: auto;
}

.form-container h1 {
    margin-top: 20px;
}


/* ------------PAGE ERREUR-------------- */

.error-message {
    background-color: rgba(208, 215, 222, 0.7);
    height: 400px;
    min-width: 40%;
    padding: 30px;
    border-radius: 20px;
}



/*-----------------Spotfeed-----------------*/

.share-spot-bar {
    font-family: "made_sunflower";
    background-color:rgba(0, 42, 43, 0.2);
    border-radius: 5px;
}

.my-spot-bar {
    font-family: "made_sunflower";
    margin: 1% 40% 1% 40%;
}

.my-spots{
    display: flex;
    justify-content: center;
    font-family: "made_sunflower";
}

.my-spot {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(235, 235, 235, 0.75);
    width: 60%;
    margin-bottom: 1%;
    border-radius: 5px;
    justify-content: center;
}

.spot-info {
    width: 100%;
    text-align: left;
    margin: 1% 0 0 1%;
}

.description {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3%;
}

.description p:first-child {
    text-decoration: underline;
    margin-bottom: -0.1%;
}

.spot-detail {
    display: flex;
    justify-content: space-around;
}

.spot-action {
    display:flex;
    justify-content: space-around;
    margin-bottom: 3%;
}


/*--------------------------------------------------------*/


/*-----------------SpotForm-----------------*/

.share-post-button {margin: 5% 0 5% 0;}

.spot-form label {margin-top: 3%;}

.spot-form-frame {
    margin: 3% auto 3% auto;
    background-color: rgba(235, 235, 235, 0.75);
    width: 40%;
    border-radius: 15px;
    padding: 2%;

}

.spot-form{
    width:60%;
    margin: 0 auto
}

textarea{resize:none !important}

/*--------------------------------------------------------*/



/*-----------------SpotInfo-----------------*/

.spot-info-card {margin: 4% 0 3% 0;}


/*--------------------------------------------------------*/

/*FOOTER*/

.footer-container {
    display: flex;
    justify-content: space-around;
    height: 154px;
    background-color: rgba(208, 215, 222, 0.7);
    
}



.left-foot,
.right-foot {
    min-width: 45%;
    padding: 15px;
}

.right-foot ul,
.right-foot a {
    text-align: center;
    list-style-type: none;
}


/*FOOTER/GAUCHE*/

.left-foot {
    text-align: left;
}

.left-foot h2 {
    font-size: 12px;
    text-transform: uppercase;
}

.left-foot p {
    font-size: 10px;
}

@media (max-width: 620px) {
    .left-foot h2 {
        font-size: 11px;
        text-transform: uppercase;
    }
    .left-foot p {
        font-size: 9px;
        margin-bottom: 0px;
    }
}

.left-foot h2,
.left-foot p,
.left-foot form {
    margin-bottom: 10px;
}

.left-foot p {
    color: #6C93AB;
}

.left-foot input {
    border: none;
}


/*FOOTER/DROITE*/

.right-foot {
    text-align: right;
    padding-top: 20px;
}

.right-foot ul {
    margin-top: 55px;
}

.right-foot li {
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-left: 12px;
}

@media (max-width: 620px) {
    .right-foot ul {
        margin-top: 25px;
    }
}

/*-----------------------------------------spotfeed----------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.card {
    border: none
}

.ellipsis {
    color: #a09c9c
}

hr {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px
}

.muted-color {
    color: #a09c9c;
    font-size: 13px
}

.ellipsis i {
    margin-top: 3px;
    cursor: pointer
}

.icons i {
    font-size: 25px
}

.icons .fa-heart {
    color: red
}

.icons .fa-smile-o {
    color: yellow;
    font-size: 29px
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.name {
    font-weight: 600
}

.comment-text {
    font-size: 12px
}

.status small {
    margin-right: 10px;
    color: blue
}

.form-control {
    border-radius: 26px
}

.comment-input {
    position: relative
}

.fonts {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #a09c9c
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}

.thumb-post img,
.galery img {
    object-fit: cover; 
    object-position: center; 
    max-height: 50px;
    margin-bottom: 1rem;
  }

.galery img{
    height: 100%;
    max-height: initial;
}

.input-group button i,
.input-group label i{
    margin-right: 0;
}





  